<header>
    <div class="">
        <div>
            <a href="{{ManageEmployeeURL}}">
                <div class="companyLogo" />
            </a>
        </div>
        <div>
            <img />
        </div>
        <div class="app_title_wrapper">
            <span class="">Employment Management Application</span>
        </div>
        <a href="{{HelpContent}}" title="Help" target="_blank">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </a>
    </div>
</header>